<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <header>
        <h1>My Awesome Website</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <hr> <p>&copy; {% now "Y" %} Developer: Tanishq Raj. All rights reserved.</p>
    </footer>
</body>
</html>
